.container {
  padding: 0 2rem;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,254,233,1) 74%, rgba(178,247,179,1) 93%, rgba(56,161,105,1) 100%)
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


.imageCardLogo {
  height: 100px ;
  width: 80px;
}


.inputNumLines {
  background-color: #FFF;
}

.cellHeaderResult {
  border-color: rgba(56,161,105,1);
  border-width: 1px;
  border-style: solid;
}